.technologies {
  padding-bottom: 60px;
  &__wrapper {
    display: flex;

    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  &__logomasuno {
    width: 100px;
  }
  &__subrayadorojo {
    display: none;
    @media (min-width: 768px) {
      display: none;
    }
    @media (min-width: 1024px) {
      position: absolute;
      display: flex;

      width: 35%;
      left: 33.5%;
      top: 72%;
    }
  }
  &__title {
    padding-top: 42px;
    padding-bottom: 3rem;
    color: #1a36a8;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 1024px) {
      font-size: 32px;
    }
  }
  &__slide {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 100%;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 280px;
      @media (min-width: 768px) {
        height: 550px;
      }
      @media (min-width: 1024px) {
        height: 550px;
      }
    }
  }
  &__slide__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 0px;
    img {
      width: 64px;
      height: 64px;
    }
    @media (min-width: 768px) {
      margin-left: 100px;
    }
    @media (min-width: 1024px) {
      margin-left: 100px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #003383;
      border-radius: 8px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 70px;
      padding-right: 70px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #ffffff;
      border: none;
      cursor: pointer;
      margin-top: 1.8rem;
      margin-bottom: 1.5rem;
      width: 100%;
      &:hover {
        background-color: #1a36a8;
      }
      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 1024px) {
        width: 50%;
      }
    }
  }
  &__slide-title {
    color: #d43e36;
    /* WEB CYBERDAYS/Titulos/Titulo 1 */

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__slide-text {
    color: #2e2e2e;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .splide__slide {
    width: 100%;
  }
  .splide__arrow--next,
  .splide__arrow--prev {
    border-radius: 0px;
    height: 3em;
    fill: #ffffff;
    svg {
      &:hover {
        fill: #ffffff;
      }
    }
  }

  .splide__arrow--prev {
    background: #1a36a8;
    left: -0.028px;
    svg {
      fill: #ffffff;
    }
    @media (min-width: 992px) {
      left: -3.125px;
    }
  }

  .splide__arrow--next {
    background: #1a36a8;
    right: -0.028px;
    svg {
      fill: #ffffff;
    }
    @media (min-width: 992px) {
      right: -3.125px;
    }
  }
  .splide__pagination__page {
    bottom: 27.5rem;
    right: 6.8rem;
    margin-left: 0.4rem;
    width: 13px;
    border-radius: 50px;
    height: 13px;
    @media (min-width: 992px) {
      margin-left: 0.4rem;
      width: 13px;
      height: 13px;
      border-radius: 50px;
      bottom: 11.5rem;
      right: 47.5rem;
    }
  }
  .splide__pagination__page.is-active {
    background: #1a36a8;
  }
}
